# vscode
.vscode/*

# macOS 
.DS_Store

# pycache
__pycache__
.python-version
.ipynb_checkpoints

# log
*.log

# profile
*.prof
prof

# bin
bin

# target
target

# secrets toml
secrets.toml

# node
node_modules

# nohup
nohup.out

# c/cpp build
build

# env
.env

# machine learning related
*.train
*.valid
*.bin
mlruns
wandb
unsloth_compiled_cache
outputs
log
.deepeval
test.ipynb